main .more span {
    color: orange;
    font-size: 25px;
    font-weight: bold;
}

main .more h1 {
    color: white;
    font-size: 30px;
    font-weight: bold;
}


main .more {
    background: url('../img/heading-bg.jpg');
    padding: 100px 100px;
    margin: 0 15px 80px 15px;
}

main .about_description p {
    color: #7a7a7a;
    font-size: 15px;
    text-align: center;
    margin-top: 30px;
}

main hr {
    color: #7a7a7a;
}

main .descriptionOne {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 15px;
}

main .descriptionTwo {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 15px;
}

main .descriptionThree {
    display: flex;
    justify-content: space-around;
    text-align: center;
}
 main h3 {
    color: black;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 20px;
}

main span {
    color: #7a7a7a;
    font-size: 15px;
    
}
main .icons {
    display: block;
    text-align: center;
}
    
main .icons i {
    border-radius: 50%;
    line-height: 30px;
    height: 30px;
    font-size: 15px;
    width: 30px;
    margin: 50px 10px; 
    color: white;
    background-color: #212931;
}

main .icons i.fa.fa-facebook:hover {
    border-radius: 50%;
    line-height: 30px;
    height: 30px;
    font-size: 15px;
    width: 30px;
    margin: 50px 10px; 
    color: white;
    background-color: orange;
}

main .icons i.fa.fa-twitter:hover {
    border-radius: 50%;
    line-height: 30px;
    height: 30px;
    font-size: 15px;
    width: 30px;
    margin: 50px 10px; 
    color: white;
    background-color: orange;
}

main .icons i.fa.fa-behance:hover {
    border-radius: 50%;
    line-height: 30px;
    height: 30px;
    font-size: 15px;
    width: 30px;
    margin: 50px 10px; 
    color: white;
    background-color: orange;
}